* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.col {
    flex: 1;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

button {
    background: transparent;
    border: none;
    font-size: 24px;
    color: aliceblue;
    padding: 10px;
    outline: none;
}

h1 {
    color: aliceblue;
    padding: 10px;
}

button:hover {
   cursor: pointer;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
   transition: all 0.27s ease-in-out;
   border-radius: 7px; 
}

h1:hover {
    cursor: pointer;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
   transition: all 0.27s ease-in-out;
   border-radius: 7px; 
}

